<h1 class="titles"><%= t('calle') %></h1>
<div class="images">
<%= image_tag("pictures/imagen.jpg", {:style => "width:100px;"}) %>
</div>
<div class="images">
<%= image_tag("pictures/imagen.jpg", {:style => "width:120px;"}) %>
<div ng-app ng-init="tab=3" class="tabs">
    <ul class="tabs-items">
        <li ng-click="tab=3"><%=t('doors')%></li>
        <li ng-click="tab=1"><%=t('people')%></li>
        <li ng-click="tab=2"><%=t('objects')%></li>
    </ul>
<div class="tabs-content-wrapper">
<div class="tabs-content" ng-show="tab == 1">	
 <%= image_tag("people/yuli.png", :size => "50x60", :class => "person") %>
</div>
<div class="tabs-content" ng-show="tab==2">
<%= image_tag("objects/glasses.png", :size => "35x60", :class => "glasses") %>
</div>
<div class="tabs-content" ng-show="tab==3">
no hay puertas por mostrar
        </div>
    </div>            
</div> 
</div>
  <!-- select idiom -->
<div class="idiom">
<span class ="X">&#10005;</span></p>    
<div id="select">
Language:
<%= link_to_unless_current "English", locale: "en" %> |
<%= link_to_unless_current "español", locale: "es" %>
</div>
 </div>
 <!-- select idiom -->
 <!-- Dialogues -->
<div class="dial">
<span class ="X">&#10005;</span></p>    
<div class="divs">
     <div class="cls1">
ola llegamos al mismo tiempo,como llevas bastante tiempo observando las vitrinas 
venimos al mismo evento
     </div>
     <div class="cls2">
    ¿que quieres que hagamos? 
     </div>
     <div class="cls3">
<%= link_to 'entrar', casa_reception_path,class:"links" %>
<%= link_to 'irse', casa_leave_path,class:"links" %> 
     </div>
     <div class="cls4">4</div>
     <div class="cls5">5</div>
     <div class="cls6">6</div>
     <div class="cls7">7</div>
 </div>
 <a id="prev">prev</a>
 <a id="next">next</a>
 </div>
 <!-- dialogues -->
 <!-- reload -->
<script type='text/javascript'>
(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();
</script>
 <!-- reload -->