<div id="page">
<h1 class="titles"><%= t('jardín') %></h1>
<div class="images">
<%= image_tag("maps/garden.png", {:style => "width:120px;"}) %>
</div>

<div class="divission">
<%= link_to(image_tag("doors/5.gif",:size => "25x40", :class => "doors"), casa_balcony_path) %>
<%= link_to(image_tag("doors/gardencorridor.gif",:size => "25x40", :class => "doors"), casa_corridor_path) %>
<%= link_to(image_tag("doors/4.gif",:size => "25x40", :class => "doors"), casa_bathroom_path) %>
</div>
</div>
<%= render 'load' %>