<% provide(:title, t('recepci칩n')) %>
<%= render 'layouts/doorusage' %>
<div id="page">
<h1 class="titles"><%= t('recepci칩n') %></h1>
<div class="images">

<%= image_tag("pictures/imagen.jpg", {:style => "width:120px;"}) %>
<div ng-app ng-init="tab=3" class="tabs">
    <ul class="tabs-items">
        <li ng-click="tab=3"><%=t('doors')%></li>
        <li ng-click="tab=1"><%=t('people')%></li>
        <li ng-click="tab=2"><%=t('objects')%></li>
    </ul>
<div class="tabs-content-wrapper">
<div class="tabs-content" ng-show="tab == 1">	
 <%= image_tag("people/chloe.png", :size => "50x60", :class => "person") %>
</div>
<div class="tabs-content" ng-show="tab==2">
<%= image_tag("doors/scroll.png", :size => "35x60", :class => "scroll") %>
<%= image_tag("objects/glasses.png", :size => "35x60", :class => "glasses") %>
<%= image_tag("objects/visitorsbook.png", :size => "35x60", :class => "glasses") %>
<%= image_tag("objects/carne.png", :size => "35x60", :class => "ID") %>
</div>
<div class="tabs-content" ng-show="tab==3">
<%= link_to(image_tag("doors/2.gif",:size => "35x60", :class => "doors"), casa_bathroom_path) %>
<%= link_to(image_tag("doors/3.gif",:size => "35x60", :class => "doors"), casa_corridor_path) %>

        </div>
    </div>            
</div> 
</div>
<%= render 'load' %>
<!-- ad -->
<div id ="on" class="intro">
<p class ="header">
    <span class="blink"><%=t('adviceone') %></span>
	<span class ="close">&#10005;</span></p>
	<div class ="map_image">
	<span><%= image_tag("maps/reception.png", {:style => "width:120px;"}) %></span>
	 </div>
	 <p class ="map_advice"><%=t('advicetwo') %></p>
	 </div>
<!-- end ad -->
<!-- Dialogues -->
<div class="dial">
<span class ="X">&#10005;</span></p>    
<div class="divs">
     <div class="cls1">
hola bienvenido alas instalaciones de la marca de bot칩n rojo         
     </div>
     <div class="cls2">
hoy celebramos un open house asi que cualquier persona puede entrar y conocer
el sitio desde tonde operamos
     </div>
     <div class="cls3">
unicamente tienes que registrarte en el libro de visitas         
     </div>

 </div>
 <a id="prev">prev</a>
 <a id="next">next</a>
 </div>
 <!-- dialogues -->

  <!-- select idiom -->

<div class="id3">  
<div class="idiom">
enque idiomas entiendes las cosas      
<span class ="X">&#10005;</span></p>    
<div id="select">
Language:
<%= link_to_unless_current "English", locale: "en" %> |
<%= link_to_unless_current "espa침ol", locale: "es" %>
</div>
 </div>
 </div>
  <!-- select idiom -->
  
<div id="id2">
<!-- ID -->
escoje el idioma enque entienas las cosas
<!-- devise notice -->
<span class ="X">&#10005;</span></p> 
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<!-- devise notice end -->
<!-- devise links -->
<p class="navbar-text float-right">
<% if visitor_signed_in? %>
  Logged in as <strong><%= current_visitor.email %></strong>.
  <%= link_to 'Edit profile', edit_visitor_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_visitor_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_visitor_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_visitor_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<!-- devise links end -->
</div>
<!-- ID -->
