<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title> 
    <%= favicon_link_tag asset_path('pictures/cc.png') %>
    <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <title>Ana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!-- select language -->
<div id="select">
Language:
<%= link_to_unless_current "English", locale: "en" %> |
<%= link_to_unless_current "español", locale: "es" %>
</div>
<!-- end of select -->
  <body>
<!-- devise notice -->
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<!-- devise notice end -->
<!-- devise links -->
<p class="navbar-text float-right">
<% if visitor_signed_in? %>
  Logged in as <strong><%= current_visitor.email %></strong>.
  <%= link_to 'Edit profile', edit_visitor_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_visitor_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_visitor_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_visitor_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<!-- devise links end -->
    <%= yield %>
  </body>
<%= render 'layouts/footer' %>
<!-- ad -->

</html>
